<div class="modal-body">
	<div class="form-area">


		<div class="form-group">
			<div id="picture-box" class="picture-box banner">
				<!-- picture display -->
				<img id="picture-box-picture" ng-if="!formData.Media.Records[0].MediaURL" ng-src="./asset/img/default-coupon.png">
				<img id="picture-box-picture" ng-if="formData.Media.Records[0].MediaURL" ng-src="{{formData.Media.Records[0].MediaURL}}">

				<!-- picture upload form -->
				<div class="picture-upload">
					<img src="./asset/img/upload.svg" id="picture-uploadBtn">
					<form enctype="multipart/form-data" action="../api/upload/image" method="post" name="picture_upload_form" id="picture_upload_form">
						<input type="hidden" name="Section" value="Coupon">
						<input type="file" accept="image/*" name="File" id="fileInput" data-target="#picture-box #picture-box-picture" data-targetinput="#MediaGUIDs">
					</form>
				</div>
				<!-- progressbar -->
				<div class="progressBar">
					<div class="bar"></div>
					<div class="percent">0%</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label for="lastName" class="control-label text-center">Coupon Code</label>
			<div class="boxbg p-2 text-center">
				<div><strong>{{formData.CouponCode}}</strong></div>
			</div>
		</div>



		<form id="edit_form" name="edit_form" autocomplete="off" >
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Coupon Type</label>
						<select name="CouponType" class="form-control chosen-select " ng-model="formData.CouponType">
							<option value="Flat">Flat</option>
							<option value="Percentage">Percentage</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Deposit Type</label>
						<select name="DepositType" class="form-control chosen-select" ng-model="formData.DepositType">
							<option value="FirstDeposit">First Deposit</option>
							<option value="AllDeposits">All Deposits</option>
						</select>
					</div>
				</div>
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">No. Of Uses</label>
						<input name="NumberOfUses" type="text" class="form-control numeric" maxlength="6" value="{{formData.NumberOfUses}}">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="form-group">
						<label class="control-label">Offer Type</label>
						<select name="OfferType" class="form-control chosen-select" ng-model="formData.OfferType">
							<option value="CashBonus">Cash Bonus</option>
							<option value="RealMoney">Real Money</option>
						</select>
					</div>
				</div>
				<div class="col-md-8">
					<div class="form-group">
						<label class="control-label">Coupon Title</label>
						<input name="CouponTitle" type="text" class="form-control" value="{{formData.CouponTitle}}" maxlength="40">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<label class="control-label">Description</label>
						<textarea name="CouponDescription" class="form-control" style="height:50px" maxlength="200">{{formData.CouponDescription}}</textarea>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Valid Till</label>
						<input type="text" class="form-control" id="CouponValidTillDate" name="CouponValidTillDate" readonly='true' value="{{formData.CouponValidTillDate}}">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label class="control-label">Status</label>
						<select name="Status" id="Status" class="form-control chosen-select">
							<option value=""></option>
							<option value="Active" ng-selected="formData.Status=='Active'">Active</option>
							<option value="Inactive" ng-selected="formData.Status=='Inactive'">Inactive</option>
						</select>
					</div>
				</div>
			</div>
			<!-- hidden parameters -->
			<input type="hidden" class="MediaGUIDs" id="MediaGUIDs" name="MediaGUID" value=""> <!-- for banner -->
			<input type="hidden" name="CouponGUID" value="{{formData.CouponGUID}}">   
			<!-- hidden parameters /-->
		</form>

	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="submit" class="btn btn-success btn-sm" ng-disabled="editDataLoading" ng-click="editData()">Save</button>
</div>


