<div class="modal-body">
	<div class="form-area">

		<div class="form-group">
			<div class="">
				<p><strong>Warning!</strong> This action is irreversible, this will delete this user and all associated records. All data will be scrubbed and irretrievable.</p>
			</div>
		</div>


	</div>
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Cancel</button>
	<button type="button" color="deoco" class="btn btn-danger btn-sm" ng-disabled="deleteDataLoading" ng-click="deleteData(formData.PostGUID)">Delete Permanently</button>
</div>


